@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

*{
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll; 
}



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "Ashar-Alo";
  src: url("../../public/fonts/Ashar-Alo/FL_Ashar_Alo_Unicode.ttf")
    format("truetype");
}

.heading-AsharAlo {
  font-family: "Ashar-Alo", sans-serif;
}


/* ------------ Common Bangla Fonts For Text--------------- */

@font-face {
  font-family: "Balooda2";
  src: url("../../public/fonts/Balooda2/BalooDa2-Medium.ttf") format("truetype");
}

.text-common {
  font-family: "Balooda2", sans-serif;
}

.chapters > li {
  padding: 3px 0;
  border-bottom: 1px dotted gray;
  border-left: 4px solid #036ba3;
  padding-left: 4px ;
}